<app-header></app-header>
<div class="main">
  <div class="main-container">
    <div class="main-img-container">
      <img src="../../../assets/images/crime.png" alt="" id="main-img" />
    </div>

    <div class="main-content">
      <h1>DESCRIME</h1>
      <p>
        Report To Us. Believe in Us. We will come for you wherever you are. We
        are here only to keep you safe.
      </p>
      <button class="main-btn"><a routerLink="/login">REGISTER</a></button>
    </div>
    </div>
   
    <div class="chatbot container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <app-chatbot></app-chatbot>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <h4 style="padding-top: 170px; color: white; font-size: 50px;">For <span style="color: red; font-size: 50px;">Emergency</span> Purposes, Please Use the Chatbot provided.</h4>
        </div>
     </div>
     </div>
     <div class="footer">
       <app-footer></app-footer>
     </div>

</div>
