<div class="main">
    <div class="main-container">
        <div class="main-img-container">
            <img src="../../../assets/images/crime.png" alt="" id="main-img">
        </div>

        <div class="main-content">
            <h1>DESCRIME</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat est voluptate nemo veritatis
                tempora
                adipisci alias.</p>
            <button class="main-btn"><a href="#">REGISTER</a></button>

        </div>

    </div>
</div>