<div class="nav-container">
    <nav class="navbar">
        <h1 id="navbar-logo">Descrime</h1>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="nav-menu">
            <li><a href="#" class="nav-links">Home</a></li>
            <li><a href="#" class="nav-links">About Us</a></li>
            <li><a href="#" class="nav-links nav-links-btn">Login</a></li>
            <li><img src="../../assets/images/sun.png" alt="" id="icon"></li>
        </ul>
    </nav>
</div>