.nav-container {
    width: 100%;
    background-color: var(--primary);
}

.navbar {
    display: grid;
    grid-template-columns: 0.2fr auto 0.6fr;
    align-items: center;
    height: 80px;
    width: 90%;
    max-width: 1720px;
    margin: 0 auto;
}
#navbar-logo {
    letter-spacing: 0.02em;
    font-size: 2rem;
    color: var(--secondary);
    justify-self: start;
    font-family: 'Yanone Kaffeesatz', sans-serif;

}
#navbar-logo {
    cursor: pointer;
}
.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    list-style: none;
    text-align: center;
    width: 70%;
    justify-self: end;
}

.nav-links {
    color:var(--secondary);
    text-decoration: none;
}

.nav-links:hover {
    color: var(--brightyellow);
    transition: all 0.2s ease-out;
}

.nav-links-btn {
    background-color: var(--brightyellow);
    padding: 6px 16px;
    border-radius: 4px;
}

.nav-links-btn:hover {
    background-color: transparent;
    color: var(--secondary);
    padding: 5px 15px;
    border-radius: 4px;
    border: solid 1px var(--brightyellow);
    transition: all 0.3s ease-out;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--secondary);
}

@media screen and (max-width: 768px){
    .nav-container {
        position: relative;
    }
    .nav-menu {
        display: grid;
        grid-template-columns: auto;
        background-color: var(--brightyellow);
        margin: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
    }

    #navbar-logo {
        margin-left: 20px;
    }
    .nav-menu.active {
        background: var(--primary);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-links {
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: var(--brightyellow);
        color: var(--secondary);
        transition: all 0.4s ease-out;
    }

    .navbar {
        width: 100%;
    }
    .nav-links-btn {
        border:none;
        padding: 0;
        border-radius: 0;
        background-color: var(--primary);
        color: var(--secondary);
        transition: all 0.4s ease-out;
    }

    .nav-links-btn:hover {
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: var(--brightyellow);
        color: var(--secondary);
        transition: all 0.4s ease-out;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%,20%);
    }

    .menu-toggle .bar {
        display: block;
        cursor: pointer;
    }

    .menu-toggle:hover {
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

#icon {
    width: 25px;
    cursor: pointer;
}

.light-theme {
    --primary: #fff; 
    --secondary: #12394B;
}