<div class="nav-container">
    <nav class="navbar">
        <h1 id="navbar-logo">descrime</h1>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="nav-menu">
            <img src="../../assets/images/sun.png" alt="" id="icon">
            <li><a href="#" class="nav-links">home</a></li>
            <li><a href="#" class="nav-links">about us</a></li>
            <li><a href="#" class="nav-links nav-links-btn">login</a></li>
        </ul>
    </nav>
</div>