<mat-tab-group>
    <mat-tab label="Forced Break-in">
        <ul>
            <li>Do not chase. They may shoot at any pursuers or the police may shoot at you, too, thinking you are one of them.</li>
            <li>Secure the doors so the robbers cannot re-enter the store.</li>
            <li>Care for injured people. If possible render first aid, and keep the victim calm and alert until paramedics arrive.</li>
            <li>Observe method of escape, if possible, along with the direction of travel. If a vehicle is used, try to find out the make, color, type, license number and the state of registration.</li>
            <li>Preserve any evidence. Protect the crime scene and do not touch anything the robber may have touched. Keep people out of the area.</li>
            <li>Keep witnesses at the scene until police arrive. If they insist on leaving, try to get their names and addresses.</li>
            <li>Do not discuss the robbery with outsiders until police give permission to do so.</li>
            <li>Assist investigating officers in every way possible. Cooperate with the police by being available for interviews, not being reluctant to identify suspects and giving evidence in court when notified to do so.</li>
        </ul>
    </mat-tab>
    <mat-tab label="Kidnap"> 
        <ul>
            <li>Do not chase. They may shoot at any pursuers or the police may shoot at you, too, thinking you are one of them.</li>
            <li>Secure the doors so the robbers cannot re-enter the store.</li>
            <li>Care for injured people. If possible render first aid, and keep the victim calm and alert until paramedics arrive.</li>
            <li>Observe method of escape, if possible, along with the direction of travel. If a vehicle is used, try to find out the make, color, type, license number and the state of registration.</li>
            <li>Preserve any evidence. Protect the crime scene and do not touch anything the robber may have touched. Keep people out of the area.</li>
            <li>Keep witnesses at the scene until police arrive. If they insist on leaving, try to get their names and addresses.</li>
            <li>Do not discuss the robbery with outsiders until police give permission to do so.</li>
            <li>Assist investigating officers in every way possible. Cooperate with the police by being available for interviews, not being reluctant to identify suspects and giving evidence in court when notified to do so.</li>
        </ul>
    </mat-tab>
    <mat-tab label="Assault"> 
        <ul>
            <li>Do not chase. They may shoot at any pursuers or the police may shoot at you, too, thinking you are one of them.</li>
            <li>Secure the doors so the robbers cannot re-enter the store.</li>
            <li>Care for injured people. If possible render first aid, and keep the victim calm and alert until paramedics arrive.</li>
            <li>Observe method of escape, if possible, along with the direction of travel. If a vehicle is used, try to find out the make, color, type, license number and the state of registration.</li>
            <li>Preserve any evidence. Protect the crime scene and do not touch anything the robber may have touched. Keep people out of the area.</li>
            <li>Keep witnesses at the scene until police arrive. If they insist on leaving, try to get their names and addresses.</li>
            <li>Do not discuss the robbery with outsiders until police give permission to do so.</li>
            <li>Assist investigating officers in every way possible. Cooperate with the police by being available for interviews, not being reluctant to identify suspects and giving evidence in court when notified to do so.</li>
        </ul>
    </mat-tab>
    <mat-tab label="Theft"> 
        <ul>
            <li>Do not chase. They may shoot at any pursuers or the police may shoot at you, too, thinking you are one of them.</li>
            <li>Secure the doors so the robbers cannot re-enter the store.</li>
            <li>Care for injured people. If possible render first aid, and keep the victim calm and alert until paramedics arrive.</li>
            <li>Observe method of escape, if possible, along with the direction of travel. If a vehicle is used, try to find out the make, color, type, license number and the state of registration.</li>
            <li>Preserve any evidence. Protect the crime scene and do not touch anything the robber may have touched. Keep people out of the area.</li>
            <li>Keep witnesses at the scene until police arrive. If they insist on leaving, try to get their names and addresses.</li>
            <li>Do not discuss the robbery with outsiders until police give permission to do so.</li>
            <li>Assist investigating officers in every way possible. Cooperate with the police by being available for interviews, not being reluctant to identify suspects and giving evidence in court when notified to do so.</li>
        </ul>
    </mat-tab>
    <mat-tab label="Physical Abuse"> 
        <ul>
            <li>Do not chase. They may shoot at any pursuers or the police may shoot at you, too, thinking you are one of them.</li>
            <li>Secure the doors so the robbers cannot re-enter the store.</li>
            <li>Care for injured people. If possible render first aid, and keep the victim calm and alert until paramedics arrive.</li>
            <li>Observe method of escape, if possible, along with the direction of travel. If a vehicle is used, try to find out the make, color, type, license number and the state of registration.</li>
            <li>Preserve any evidence. Protect the crime scene and do not touch anything the robber may have touched. Keep people out of the area.</li>
            <li>Keep witnesses at the scene until police arrive. If they insist on leaving, try to get their names and addresses.</li>
            <li>Do not discuss the robbery with outsiders until police give permission to do so.</li>
            <li>Assist investigating officers in every way possible. Cooperate with the police by being available for interviews, not being reluctant to identify suspects and giving evidence in court when notified to do so.</li>
        </ul>
    </mat-tab>
    <mat-tab label="Hit and Run"> 
        <ul>
            <li>Do not chase. They may shoot at any pursuers or the police may shoot at you, too, thinking you are one of them.</li>
            <li>Care for injured people. If possible render first aid, and keep the victim calm and alert until paramedics arrive.</li>
            <li>Observe method of escape, if possible, along with the direction of travel. If a vehicle is used, try to find out the make, color, type, license number and the state of registration.</li>
            <li>Preserve any evidence. Protect the crime scene and do not touch anything the robber may have touched. Keep people out of the area.</li>
            <li>Keep witnesses at the scene until police arrive. If they insist on leaving, try to get their names and addresses.</li>
            <li>Do not discuss the robbery with outsiders until police give permission to do so.</li>
            <li>Assist investigating officers in every way possible. Cooperate with the police by being available for interviews, not being reluctant to identify suspects and giving evidence in court when notified to do so.</li>
        </ul>
    </mat-tab>
  </mat-tab-group>
  
