<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div  id="sidebar-wrapper"  *ngIf = "isDisplay">
        <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">Descrime</div>
        <div class="list-group list-group-flush my-3">
            <a href="#" class="list-group-item list-group-item-action bg-transparent active">
                <fa-icon [icon]="faTachometerAlt" class="me-1"></fa-icon>Dashboard</a>
            
            <a href="#" class="list-group-item list-group-item-action bg-transparent primary-text ">
                <fa-icon [icon]="faFileContract" class="me-2"></fa-icon>Report</a>
            <a href="#" class="list-group-item list-group-item-action bg-transparent primary-text ">
                <fa-icon [icon]="faChevronRight" class="me-2"></fa-icon>Track</a>
            
            <a href="#" class="list-group-item list-group-item-action bg-transparent primary-text ">
                <fa-icon [icon]="faBell" class="me-1"></fa-icon>Notifications</a>
            <a href="#" class="list-group-item list-group-item-action bg-transparent primary-text ">
                <fa-icon [icon]="faVirus" class="me-1"></fa-icon>Terms & Conditions</a>
            <a href="#" class="list-group-item list-group-item-action bg-transparent text-danger ">
                <fa-icon [icon]="faPowerOff" class="me-2 text-danger"></fa-icon>Logout</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg heading-navbar px-4">
            <div class="d-flex align-items-center">
                <fa-icon [icon]="faAlignLeft" class="fs-4 me-3 third-text" #menu (click)= "toggleButton()"></fa-icon>
                <h2 class="fs-2 m-0">Dashboard</h2>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle primary-text fw-bold second-text" href="#" id="navbarDropdown"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <fa-icon [icon]="faUser" class="me-2 second-text"></fa-icon>User name
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        
    <!-- <app-user-dashboard></app-user-dashboard> -->
    <app-user-report></app-user-report>
    
</div>
