<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  Descrime
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src="https://i.pinimg.com/236x/d9/7b/bb/d97bbb08017ac2309307f0822e63d082.jpg"
    />

    <h4 class="name">James Franco</h4>
    <p class="designation">User</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span routerLink="/user">Dashboard</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>file_copy</mat-icon>
      <span routerLink="/user/reports">Reports</span>
    </button>
    <button mat-button class="menu-button">
      <fa-icon [icon]="faChevronRight" class="me-3"></fa-icon>
      <span routerLink="/user/track">Track</span>
    </button>
    <button mat-button class="menu-button">
      <fa-icon [icon]="faVirus" class="me-2"></fa-icon>
      <span routerLink="/user/terms-and-conditions">TnC</span>
    </button>
    <button mat-button class="menu-button">
      <fa-icon [icon]="faShieldAlt" class="me-2"></fa-icon>
      <span routerLink="/user/safety-measures">Self Defence</span>
    </button>
    <button mat-button class="menu-button">
      <fa-icon [icon]="faCommentDots" class="me-2"></fa-icon>
      <span routerLink="/user/feedback">Feedback</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/">
      <mat-icon>logout</mat-icon>
      <span routerLink="/">Logout</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <!-- Main content here! -->

      <div class="container">
        <h1>Terms and Conditions</h1>
        <mat-divider></mat-divider>
        <ul>
          <li>The reported incidents are to be only genuine ones.</li>
          <li>
            If found that the case reported is fake, the one who reported the
            case is subject to severe punishment.
          </li>
          <li>
            Once a case is registered, based on the priority the case will be
            taken and thus, please do not contact repeatedly.
          </li>
          <li>Do not register a case more than once to avoid duplicacy.</li>
          <li>
            Please mention the address in the form correctly and accurate to
            make sure we can reach you as fast as possible
          </li>
          <li>
            If there are any prominent landmarks, please mention those too.
          </li>
          <li>
            Once a case is registered, we will try our best to make sure the
            victim and the witness is not brought out. But, if it is absolutely
            necessary, we will make the calls and you have to be present.
          </li>
          <li>
            Neither share your password nor share your account with anyone.
          </li>
          <li>
            For absolutely emergency purposes, please type in your address in
            the chatbot available in the Home Page and we will reach out to you
            at lightning speed.
          </li>
        </ul>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
