<div class="section">
    <div class="container">
        <div class="content-section">
            <div class="title">
                <h1>About Us</h1>
            </div>
            <div class="content">
                <h3>"Taking a new step, uttering a new word, is what people fear most" says Fyodor Dostoevsky.</h3>
                <p>But every step we take, every word we utter for those in need is going to make their lives more easier to survive.
                    We have built this application to help all those unheard be given a voice. We promise to make sure your voices are heard loud and clear and all those in need of help will be aided to the best of our abilities.
                </p>
                <h4>Report to Us. Believe in Us</h4>
                
            </div>
        </div>
        <div class="image-section">
            <img src="../../../assets/images/about-us.jpg">
        </div>
    </div>
    
</div>
<div class="section1">
    <div class="container">
        <h2 style="padding-bottom: 30px; font-size: 50px;font-weight: 600;">OUR TEAM</h2>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="card" style="width: 18rem;">
                    <img src="../../../assets/images/Shreya.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Shreya Ayyagari</h5>
                      <p class="card-text">Final year student from B.E Computer Science and Engineering Department, Sathyabama University.</p>
                      
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="card" style="width: 18rem;">
                    <img src="../../../assets/images/Shikha.jpeg" class="card-img-top" style="height: 286px;" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Shikha Suman</h5>
                      <p class="card-text">Pre-Final year student from B.E Computer Science and Engineering Department, Sathyabama University.</p>
                      
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="card" style="width: 18rem;">
                    <img src="../../../assets/images/Prasath.jpeg" class="card-img-top" style="height: 286px;" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">S.Devi Prasath </h5>
                      <p class="card-text">Pre-Final year student from B.E Computer Science and Engineering Department, Sathyabama University.</p>
                      
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
