<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  Descrime
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src="https://source.unsplash.com/c_GmwfHBDzk/200x200"
    />

    <h4 class="name">John Smith</h4>
    <p class="designation">User</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span routerLink="/user">Dashboard</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>file_copy</mat-icon>
      <span routerLink="/user/reports">Reports</span>
    </button>
    <button mat-button class="menu-button">
      <fa-icon [icon]="faChevronRight" class="me-3"></fa-icon>
      <span routerLink="/user/track">Track</span>
    </button>
    <button mat-button class="menu-button">
      <fa-icon [icon]="faVirus" class="me-2"></fa-icon>
      <span routerLink="/user/terms-and-conditions">TnC</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <!-- Main content here! -->
      <!-- <app-user-dashboard></app-user-dashboard> -->
      <!-- <app-report></app-report> -->
      <!-- <app-tnc></app-tnc> -->
      <!-- <app-track></app-track> -->
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
