<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  Descrime
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src="https://i.pinimg.com/236x/d9/7b/bb/d97bbb08017ac2309307f0822e63d082.jpg"
    />

    <h4 class="name">James Franco</h4>
    <p class="designation">User</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span routerLink="/user">Dashboard</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>file_copy</mat-icon>
      <span routerLink="/user/reports">Reports</span>
    </button>
    <button mat-button class="menu-button">
      <fa-icon [icon]="faChevronRight" class="me-3"></fa-icon>
      <span routerLink="/user/track">Track</span>
    </button>
    <button mat-button class="menu-button">
      <fa-icon [icon]="faVirus" class="me-2"></fa-icon>
      <span routerLink="/user/terms-and-conditions">TnC</span>
    </button>
    <button mat-button class="menu-button">
      <fa-icon [icon]="faShieldAlt" class="me-2"></fa-icon>
      <span routerLink="/user/safety-measures">Self Defence</span>
    </button>
    <button mat-button class="menu-button">
      <fa-icon [icon]="faCommentDots" class="me-2"></fa-icon>
      <span routerLink="/user/feedback">Feedback</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <!-- Main content here! -->

      <div class="main">
        <div class="main-container">
          <div class="main-img-container">
            <img src="../../../assets/images/crime.png" alt="" id="main-img" />
          </div>

          <div class="main-content">
            <h1>Descrime</h1>
            <p>
              Report To Us. Believe in Us. We will come for you wherever you
              are. We are here only to keep you safe.
            </p>
            <button class="main-btn">
              <a routerLink="/user/reports">Report</a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
