@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Yanone+Kaffeesatz&display=swap");
:root {
  --brightyellow: #f7b625;
  --primary: #12394b;
  --secondary: #fff;
  --darkpink: #f61a33;
  --yellow: #f0a500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: box-sizing;
  font-size: 1.1rem;
  font-family: "Nunito", sans-serif;
  /* font-family: 'Yanone Kaffeesatz', sans-serif; */
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.alert {
  padding: 0;
  text-align: center;
  padding-top: 1.2%;
  width: 100%;
  height: auto;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 0.8rem;
}
