@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Yanone+Kaffeesatz&display=swap');
:root {
    --brightyellow: #F7B625;
    --primary: #12394B;
    --secondary: #fff;
    --darkpink: #F61A33;
    --yellow: #F0A500;
}

* {
    margin:0;
    padding: 0;
    box-sizing: box-sizing;
    font-size: 1.1rem;
    font-family: 'Nunito', sans-serif;
    /* font-family: 'Yanone Kaffeesatz', sans-serif; */
}