<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  Descrime
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src="https://source.unsplash.com/c_GmwfHBDzk/200x200"
    />

    <h4 class="name">John Smith</h4>
    <p class="designation">Admin</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span routerLink="/admin">Dashboard</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span routerLink="/admin/register-users">Users</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>file_copy</mat-icon>
      <span routerLink="/admin/reports">Reports</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <!-- Main content here! -->
      <!-- <app-admin-dashboard></app-admin-dashboard> -->
      <!-- <app-registered-users></app-registered-users> -->
      <!-- <app-reports></app-reports> -->
      <!-- <app-victim-details></app-victim-details> -->

      <div class="container-fluid">
        <div class="heading">
          <h2>Dashboard</h2>
          <mat-divider></mat-divider>
        </div>
        <div class="row">
          <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
              <div class="card-body">
                <h3>23</h3>
                <p>Cases Closed</p>
              </div>
              <div
                class="
                  card-footer
                  d-flex
                  align-items-center
                  justify-content-between
                "
              >
                <a class="small text-white stretched-link" href="#"
                  >View Details
                  <fa-icon [icon]="faAngleRight" class="me-2"></fa-icon
                ></a>
                <div class="small text-white">
                  <i class="fas fa-angle-right"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
              <div class="card-body">
                <h3>16</h3>
                <p>Reports Under Review</p>
              </div>
              <div
                class="
                  card-footer
                  d-flex
                  align-items-center
                  justify-content-between
                "
              >
                <a class="small text-white stretched-link" href="#"
                  >View Details
                  <fa-icon [icon]="faAngleRight" class="me-2"></fa-icon
                ></a>
                <div class="small text-white">
                  <i class="fas fa-angle-right"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
              <div class="card-body">
                <h3>12</h3>
                <p>Cases Registered</p>
              </div>
              <div
                class="
                  card-footer
                  d-flex
                  align-items-center
                  justify-content-between
                "
              >
                <a class="small text-white stretched-link" href="#"
                  >View Details
                  <fa-icon [icon]="faAngleRight" class="me-2"></fa-icon
                ></a>
                <div class="small text-white">
                  <i class="fas fa-angle-right"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
              <div class="card-body">
                <h3>23</h3>
                <p>Pending Cases</p>
              </div>
              <div
                class="
                  card-footer
                  d-flex
                  align-items-center
                  justify-content-between
                "
              >
                <a class="small text-white stretched-link" href="#"
                  >View Details
                  <fa-icon [icon]="faAngleRight" class="me-2"></fa-icon
                ></a>
                <div class="small text-white">
                  <i class="fas fa-angle-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-all-queries></app-all-queries>
      <!-- <router-outlet></router-outlet> -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
