<div class="container-fluid">
  <div class="heading">
    <h2>Dashboard</h2>
    <mat-divider></mat-divider>
  </div>
  <div class="row">
    <div class="col-xl-3 col-md-6">
      <div class="card bg-primary text-white mb-4">
        <div class="card-body">
          <h3>23</h3>
          <p>Cases Closed</p>
        </div>
        <div
          class="card-footer d-flex align-items-center justify-content-between"
        >
          <a class="small text-white stretched-link" href="#"
            >View Details <fa-icon [icon]="faAngleRight" class="me-2"></fa-icon
          ></a>
          <div class="small text-white"><i class="fas fa-angle-right"></i></div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card bg-warning text-white mb-4">
        <div class="card-body">
          <h3>16</h3>
          <p>Reports Under Review</p>
        </div>
        <div
          class="card-footer d-flex align-items-center justify-content-between"
        >
          <a class="small text-white stretched-link" href="#"
            >View Details <fa-icon [icon]="faAngleRight" class="me-2"></fa-icon
          ></a>
          <div class="small text-white"><i class="fas fa-angle-right"></i></div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card bg-success text-white mb-4">
        <div class="card-body">
          <h3>12</h3>
          <p>Cases Registered</p>
        </div>
        <div
          class="card-footer d-flex align-items-center justify-content-between"
        >
          <a class="small text-white stretched-link" href="#"
            >View Details <fa-icon [icon]="faAngleRight" class="me-2"></fa-icon
          ></a>
          <div class="small text-white"><i class="fas fa-angle-right"></i></div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card bg-danger text-white mb-4">
        <div class="card-body">
          <h3>23</h3>
          <p>Pending Cases</p>
        </div>
        <div
          class="card-footer d-flex align-items-center justify-content-between"
        >
          <a class="small text-white stretched-link" href="#"
            >View Details <fa-icon [icon]="faAngleRight" class="me-2"></fa-icon
          ></a>
          <div class="small text-white"><i class="fas fa-angle-right"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-all-queries></app-all-queries>
