<mat-toolbar class="mat-elevation-z8">
    <button
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    Descrime
  </mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
      <img
        class="avatar mat-elevation-z8"
        src="https://source.unsplash.com/c_GmwfHBDzk/200x200"
      />
  
      <h4 class="name">John Smith</h4>
      <p class="designation">User</p>
  
      <mat-divider></mat-divider>
  
      <button mat-button class="menu-button">
        <mat-icon>home</mat-icon>
        <span routerLink="/user">Dashboard</span>
      </button>
      <button mat-button class="menu-button">
        <mat-icon>file_copy</mat-icon>
        <span routerLink="/user/reports">Reports</span>
      </button>
      <button mat-button class="menu-button">
        <fa-icon [icon]="faChevronRight" class="me-3"></fa-icon>
        <span routerLink="/user/track">Track</span>
      </button>
      <button mat-button class="menu-button">
        <fa-icon [icon]="faVirus" class="me-2"></fa-icon>
        <span routerLink="/user/terms-and-conditions">TnC</span>
      </button>
      <button mat-button class="menu-button">
        <fa-icon [icon]="faVirus" class="me-2"></fa-icon>
        <span routerLink="/user/safety-measures">Self Defence</span>
      </button>
  
      <mat-divider></mat-divider>
  
      <button mat-button class="menu-button">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <!-- Main content here! -->
  
        <div class="container">
          <h1>Self Defence Measures</h1>
          <mat-divider></mat-divider>
          <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
            <li class="nav-item" role="presentation">
              <a
                class="nav-link active"
                id="ex1-tab-1"
                data-mdb-toggle="tab"
                href="#"
                role="tab"
                aria-controls="ex1-tabs-1"
                aria-selected="true"
                >Forced Break-in</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link "
                id="ex1-tab-2"
                data-mdb-toggle="tab"
                href="#ex1-tabs-2"
                role="tab"
                aria-controls="ex1-tabs-2"
                aria-selected="false"
                >Kidnap</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="ex1-tab-3"
                data-mdb-toggle="tab"
                href="#ex1-tabs-3"
                role="tab"
                aria-controls="ex1-tabs-3"
                aria-selected="false"
                >Assault</a
              >
            </li>
            <li class="nav-item" role="presentation">
                <a
                  class="nav-link"
                  id="ex1-tab-4"
                  data-mdb-toggle="tab"
                  href="#ex1-tabs-4"
                  role="tab"
                  aria-controls="ex1-tabs-4"
                  aria-selected="false"
                  >Theft</a
                >
              </li>
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link"
                  id="ex1-tab-5"
                  data-mdb-toggle="tab"
                  href="#ex1-tabs-5"
                  role="tab"
                  aria-controls="ex1-tabs-5"
                  aria-selected="false"
                  >Physical Abuse</a
                >
              </li>
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link"
                  id="ex1-tab-6"
                  data-mdb-toggle="tab"
                  href="#ex1-tabs-6"
                  role="tab"
                  aria-controls="ex1-tabs-6"
                  aria-selected="false"
                  >Hit and Run</a
                >
              </li>
          </ul>
          <!-- Tabs navs -->
          
          <!-- Tabs content -->
          <div class="tab-content" id="ex1-content">
            <div
              class="tab-pane fade show active"
              id="ex1-tabs-1"
              role="tabpanel"
              aria-labelledby="ex1-tab-1"
            >
              <ul>
                  <li>Do not chase. They may shoot at any pursuers or the police may shoot at you, too, thinking you are one of them.</li>
                  <li>Secure the doors so the robbers cannot re-enter the store.</li>
                  <li>Care for injured people. If possible render first aid, and keep the victim calm and alert until paramedics arrive.</li>
                  <li>Observe method of escape of the robber, if possible, along with the direction of travel. If a vehicle is used, try to find out the make, color, type, license number and the state of registration.</li>
                  <li>Preserve any evidence. Protect the crime scene and do not touch anything the robber may have touched. Keep people out of the area.</li>
                  <li>Keep witnesses at the scene until police arrive. If they insist on leaving, try to get their names and addresses.</li>
                  <li>Do not discuss the robbery with outsiders until police give permission to do so.</li>
                  <li>Assist investigating officers in every way possible. Cooperate with the police by being available for interviews, not being reluctant to identify suspects and giving evidence in court when notified to do so.</li>
              </ul>
            </div>
            <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                <ul>
                    <li>Do not chase. They may shoot at any pursuers or the police may shoot at you, too, thinking you are one of them.</li>
                    <li>Secure the doors so the robbers cannot re-enter the store.</li>
                    <li>Care for injured people. If possible render first aid, and keep the victim calm and alert until paramedics arrive.</li>
                    <li>Observe method of escape of the robber, if possible, along with the direction of travel. If a vehicle is used, try to find out the make, color, type, license number and the state of registration.</li>
                    <li>Preserve any evidence. Protect the crime scene and do not touch anything the robber may have touched. Keep people out of the area.</li>
                    <li>Keep witnesses at the scene until police arrive. If they insist on leaving, try to get their names and addresses.</li>
                    <li>Do not discuss the robbery with outsiders until police give permission to do so.</li>
                    <li>Assist investigating officers in every way possible. Cooperate with the police by being available for interviews, not being reluctant to identify suspects and giving evidence in court when notified to do so.</li>
                </ul>
            </div>
            
            <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                <ul>
                    <li>Do not chase. They may shoot at any pursuers or the police may shoot at you, too, thinking you are one of them.</li>
                    <li>Secure the doors so the robbers cannot re-enter the store.</li>
                    <li>Care for injured people. If possible render first aid, and keep the victim calm and alert until paramedics arrive.</li>
                    <li>Observe method of escape of the robber, if possible, along with the direction of travel. If a vehicle is used, try to find out the make, color, type, license number and the state of registration.</li>
                    <li>Preserve any evidence. Protect the crime scene and do not touch anything the robber may have touched. Keep people out of the area.</li>
                    <li>Keep witnesses at the scene until police arrive. If they insist on leaving, try to get their names and addresses.</li>
                    <li>Do not discuss the robbery with outsiders until police give permission to do so.</li>
                    <li>Assist investigating officers in every way possible. Cooperate with the police by being available for interviews, not being reluctant to identify suspects and giving evidence in court when notified to do so.</li>
                </ul>
              </div>
              <div class="tab-pane fade" id="ex1-tabs-4" role="tabpanel" aria-labelledby="ex1-tab-4">
                <ul>
                    <li>Do not chase. They may shoot at any pursuers or the police may shoot at you, too, thinking you are one of them.</li>
                    <li>Secure the doors so the robbers cannot re-enter the store.</li>
                    <li>Care for injured people. If possible render first aid, and keep the victim calm and alert until paramedics arrive.</li>
                    <li>Observe method of escape of the robber, if possible, along with the direction of travel. If a vehicle is used, try to find out the make, color, type, license number and the state of registration.</li>
                    <li>Preserve any evidence. Protect the crime scene and do not touch anything the robber may have touched. Keep people out of the area.</li>
                    <li>Keep witnesses at the scene until police arrive. If they insist on leaving, try to get their names and addresses.</li>
                    <li>Do not discuss the robbery with outsiders until police give permission to do so.</li>
                    <li>Assist investigating officers in every way possible. Cooperate with the police by being available for interviews, not being reluctant to identify suspects and giving evidence in court when notified to do so.</li>
                </ul>
              </div>
              <div class="tab-pane fade" id="ex1-tabs-5" role="tabpanel" aria-labelledby="ex1-tab-5">
                <ul>
                    <li>Do not chase. They may shoot at any pursuers or the police may shoot at you, too, thinking you are one of them.</li>
                    <li>Secure the doors so the robbers cannot re-enter the store.</li>
                    <li>Care for injured people. If possible render first aid, and keep the victim calm and alert until paramedics arrive.</li>
                    <li>Observe method of escape of the robber, if possible, along with the direction of travel. If a vehicle is used, try to find out the make, color, type, license number and the state of registration.</li>
                    <li>Preserve any evidence. Protect the crime scene and do not touch anything the robber may have touched. Keep people out of the area.</li>
                    <li>Keep witnesses at the scene until police arrive. If they insist on leaving, try to get their names and addresses.</li>
                    <li>Do not discuss the robbery with outsiders until police give permission to do so.</li>
                    <li>Assist investigating officers in every way possible. Cooperate with the police by being available for interviews, not being reluctant to identify suspects and giving evidence in court when notified to do so.</li>
                </ul>
              </div>
              <div class="tab-pane fade" id="ex1-tabs-6" role="tabpanel" aria-labelledby="ex1-tab-6">
                <ul>
                    <li>Do not chase. They may shoot at any pursuers or the police may shoot at you, too, thinking you are one of them.</li>
                    <li>Secure the doors so the robbers cannot re-enter the store.</li>
                    <li>Care for injured people. If possible render first aid, and keep the victim calm and alert until paramedics arrive.</li>
                    <li>Observe method of escape of the robber, if possible, along with the direction of travel. If a vehicle is used, try to find out the make, color, type, license number and the state of registration.</li>
                    <li>Preserve any evidence. Protect the crime scene and do not touch anything the robber may have touched. Keep people out of the area.</li>
                    <li>Keep witnesses at the scene until police arrive. If they insist on leaving, try to get their names and addresses.</li>
                    <li>Do not discuss the robbery with outsiders until police give permission to do so.</li>
                    <li>Assist investigating officers in every way possible. Cooperate with the police by being available for interviews, not being reluctant to identify suspects and giving evidence in court when notified to do so.</li>
                </ul>
              </div>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
