<app-header></app-header>
<div class="main-container">
  <div class="container">
    <input type="checkbox" id="flip" />
    <div class="cover">
      <div class="front">
        <img src="../../../assets/images/bg.jpg" alt="" />
        <div class="text">
          <span class="text-1"
            >The dead cannot cry out for justice. <br />
            It is a duty of the living to do so for them.</span
          >
          <span class="text-2">Let's get connected</span>
        </div>
      </div>
      <div class="back">
        <img class="backImg" src="../../../assets/images/justice.jpg" alt="" />
        <div class="text">
          <span class="text-1"
            >Complete miles of journey <br />
            with one step</span
          >
          <span class="text-2">Let's get started</span>
        </div>
      </div>
    </div>
    <div class="forms">
      <div class="form-content">
        <div class="login-form">
          <div class="title">Login</div>
          <form #login="ngForm" (submit)="doLogin(login)">
            <div class="input-boxes">
              <div class="input-box">
                <fa-icon [icon]="faEnvelope"></fa-icon>
                <input
                  type="text"
                  placeholder="Enter your email"
                  required
                  name="uemail"
                  ngModel
                  email
                  #uemail="ngModel"
                />
                <p
                  class="alert alert-danger"
                  *ngIf="uemail.errors?.required && uemail.touched"
                >
                  Please Enter Your Email
                </p>
                <p
                  class="alert alert-danger"
                  *ngIf="uemail.errors?.email && uemail.touched"
                >
                  Please Enter Correct Email
                </p>
              </div>
              <div class="input-box">
                <fa-icon [icon]="faLock"></fa-icon>
                <input
                  type="password"
                  placeholder="Enter your password"
                  required
                  name="upass"
                  ngModel
                  #upass="ngModel"
                />
                <p
                  class="alert alert-danger"
                  *ngIf="upass.errors?.required && upass.touched"
                >
                  Please Enter Your Password
                </p>
              </div>
              <div class="text"><a href="#">Forgot Password?</a></div>
              <div class="button input-box">
                <input
                  type="submit"
                  value="Login"
                  [disabled]="login.invalid"
                  routerLink="/user"
                />
              </div>
              <div class="text sign-up-text">
                Don't have an account? <label for="flip">Sign Up Now!</label>
              </div>
            </div>
          </form>
        </div>
        <div class="signup-form">
          <div class="title">Sign Up</div>
          <form #register="ngForm" (submit)="doRegistration(register)">
            <div class="input-boxes">
              <div class="input-box">
                <fa-icon [icon]="faUser"></fa-icon>
                <input
                  type="text"
                  placeholder="Enter your name"
                  required
                  name="username"
                  ngModel
                  #username="ngModel"
                  minlength="4"
                />
                <p
                  class="alert alert-danger"
                  *ngIf="username.errors?.required && username.touched"
                >
                  Please Enter Name
                </p>
                <p
                  class="alert alert-danger"
                  *ngIf="username.errors?.minlength && username.touched"
                >
                  Please Enter Minimum 4 Characters
                </p>
              </div>
              <div class="input-box">
                <fa-icon [icon]="faEnvelope"></fa-icon>
                <input
                  type="text"
                  placeholder="Enter your email"
                  required
                  name="useremail"
                  ngModel
                  #useremail="ngModel"
                  email
                />
                <p
                  class="alert alert-danger"
                  *ngIf="useremail.errors?.required && useremail.touched"
                >
                  Please Enter Email
                </p>
                <p
                  class="alert alert-danger"
                  *ngIf="useremail.errors?.email && useremail.touched"
                >
                  Please Enter Correct Email
                </p>
              </div>
              <div class="input-box">
                <fa-icon [icon]="faLock"></fa-icon>
                <input
                  type="password"
                  placeholder="Enter your password"
                  required
                  name="userpassword"
                  ngModel
                  #userpassword="ngModel"
                />
                <p
                  class="alert alert-danger"
                  *ngIf="userpassword.errors?.required && userpassword.touched"
                >
                  Please Enter Password
                </p>
              </div>

              <div class="role">
                <div class="radio">
                  <input
                    id="radio-1"
                    name="radio"
                    type="radio"
                    value="admin"
                    ngModel
                  />
                  <label for="radio-1" class="radio-label">Admin</label>
                </div>

                <div class="radio">
                  <input
                    id="radio-2"
                    name="radio"
                    type="radio"
                    value="user"
                    ngModel
                    checked
                  />
                  <label for="radio-2" class="radio-label">User</label>
                </div>
              </div>

              <div class="button input-box">
                <input
                  type="submit"
                  value="Register"
                  [disabled]="register.invalid"
                  routerLink="/admin"
                />
              </div>
              <div class="text sign-up-text">
                Already have an account? <label for="flip">Login Now</label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
